/* General Styles */
#formContact {
  width: 25%;
}

.box-form{
  padding-top: 25px;
}

.bye-letters {
  font-family: "Amatic SC", cursive;
  font-size: 40px;
  float: right;
  margin-right: 240px;
}

.title-form {
  font-family: "Amatic SC", cursive;
  font-size: 39px;
}

.crd-me{
  float: right;
  margin-right: 200px;
  margin-top: 28px;
}

/*Footer*/
.py-3 {
  margin: 80px 0px 0px 0px;
  height: 125px;
}
