/*Modal styles*/
.modal-title {
  font-size: 30px;
}

/*Button exit modal*/
.exit-m:not(:disabled):not(.disabled).active:focus,
.exit-m:not(:disabled):not(.disabled):active:focus,
.show > .exit-m.dropdown-toggle:focus {
  box-shadow: none;
}

/* Log out success style */
.alert-success {
  position: absolute;
  z-index: 99;
  width: 1100px;
}

/* carousel */
.imgadapted img {
  height: 500px;
  max-height: 500px;
}

/* Post title */
.post-title {
  display: inline-block;
  font-family: "Amatic SC", cursive;
  margin: 38px 0px 0px 0px;
  font-size: 50px;
}

/* Article/Post button style */
.reaction-margin {
  margin: 0px 0px 30px 15px;
}

/* Post information */
.post-text {
  margin: 20px 290px 0px 0px;
  text-align: justify;
}

/* Post button style */
.shape:focus {
  box-shadow: none;
}

.shape.focus,
.shape:focus {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.shape:not(:disabled):not(.disabled).active:focus,
.shape:not(:disabled):not(.disabled):active:focus,
.show > .shape.dropdown-toggle:focus {
  box-shadow: none;
}

.shape:hover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.shape:not(:disabled):not(.disabled).active,
.shape:not(:disabled):not(.disabled):active,
.show > .shape.dropdown-toggle {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.shape:not(:disabled):not(.disabled) {
  cursor: default;
}

/* Card about me */
.title-me {
  display: inline-block;
  text-align: center;
  font-size: 33px;
}

.card {
  border: none;
  float: right;
}

.card-body {
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.title-login {
  font-size: 33px;
  padding: 25px 0px 15px 0px;
  text-align: center;
}

.small,
small {
  font-size: 73%;
}

.card-login {
  margin: 30px 0px 0px 0px;
}

/*Login information and Logout button*/
.login.focus,
.login:focus {
  box-shadow: none;
}

.login-title {
  font-size: 25px;
  text-align: center;
}

.p-login {
  text-align: center;
}

.logout {
  margin-left: 30px;
  text-align: center;
}
